.order-successful-section {
    background-color: azure;
}

.order-successful-section-heading {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #13467c;
}

.order-successful-section-message {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #61758a;
}

.confirm-icon {
    font-size: 40px;
    color: #22cd3e;
}

.label-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: 700px;
    color: #51575a;
}

.value-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: normal;
    color: #577347;
}